{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Список поступающих</h1>
    
    <!-- Выбор сортировки -->
    <div class="dropdown">
      <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        Сортировка: 
        {% if current_sort == 'surname' %}По фамилии
        {% elif current_sort == 'name' %}По имени
        {% elif current_sort == 'name2' %}По отчеству
        {% elif current_sort == 'avg_oge_score' %}По ОГЭ
        {% elif current_sort == 'avg_score' %}По аттестату
        {% elif current_sort == 'avg_score_of_exam' %}По баллам экзамена
        {% elif current_sort == 'participation_in_olympiads' %}По кол-ву олимпиад
        {% endif %}
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="?sort=surname{% if request.GET.page %}&page={{ request.GET.page }}{% endif %}">По фамилии</a></li>
        <li><a class="dropdown-item" href="?sort=name{% if request.GET.page %}&page={{ request.GET.page }}{% endif %}">По имени</a></li>
        <li><a class="dropdown-item" href="?sort=name2{% if request.GET.page %}&page={{ request.GET.page }}{% endif %}">По отчеству</a></li>
        <li><a class="dropdown-item" href="?sort=avg_oge_score{% if request.GET.page %}&page={{ request.GET.page }}{% endif %}">По баллам ОГЭ</a></li>
        <li><a class="dropdown-item" href="?sort=avg_score{% if request.GET.page %}&page={{ request.GET.page }}{% endif %}">По баллам аттестата</a></li>
        <li><a class="dropdown-item" href="?sort=avg_score_of_exam{% if request.GET.page %}&page={{ request.GET.page }}{% endif %}">По баллам экзамена</a></li>
        <li><a class="dropdown-item" href="?sort=participation_in_olympiads{% if request.GET.page %}&page={{ request.GET.page }}{% endif %}">По количеству участия в олимпиадах</a></li>
      </ul>
    </div>
  </div>
  
  {% for user in page_obj %}
    <div class="row">
      <div class="col-2">  
        {% if user.image %}
          <img src="{{ user.image.url }}" height="100" class="img-thumbnail">
        {% else %}
          <div class="bg-light d-flex align-items-center justify-content-center" style="height: 100px; width: 100px;">
            <span class="text-muted">Нет фото</span>
          </div>
        {% endif %}
      </div>

      <div class="col-10">  
        <div class="d-flex align-items-center h-100">
          <h5>
            {{ user.surname }} - {{ user.name }} - {{ user.name2 }} | баллы ОГЭ - {{ user.avg_oge_score }} | баллы аттестата - {{ user.avg_score }} | баллы входного тестирования - {{ user.avg_score_of_exam }} | кол-во олимпиад - {{ user.participation_in_olympiads }} |
            {% if user.bth_date %}
              <small class="text-muted">({{ user.bth_date|date:"d.m.Y" }})</small>
            {% endif %}
          </h5>
        </div>      
      </div>
    </div>
    
    {% if not forloop.last %}
      <hr class="mt-3"> 
    {% endif %}
  {% endfor %}

  {% include "includes/paginator.html" %}
{% endblock %}